@import "tailwindcss";
@plugin "daisyui" {
  root: ":root";
  include: ;
  exclude: ;
  logs: true;
  themes: false;
}

@theme {
  --font-sans: Inter, sans-serif;
  --color-accent: var(--color-pink-500);
}
