@import "tailwindcss";
@plugin "daisyui" {
  root: ":root";
  include: ;
  exclude: ;
  logs: true;
  themes: false;
}

@theme {
  --font-sans: Inter, sans-serif;
  --font-nunito: Nunito, sans-serif;

  --color-accent: var(--color-pink-500);
  --color-green: rgb(198, 234, 132);
  --color-orange: rgb(255, 198, 121);
  --color-cyan: rgb(0, 175, 198);
  --color-teal: #ABFDD7;

  --radius-field: 0.25rem;

  --color-neutral: oklch(14% .005 285.823);
  --color-neutral-content: oklch(92% .004 286.32);

  --color-primary: oklch(94% .028 342.258);
  --color-primary-content: oklch(65% .241 354.308);

  --color-secondary: oklch(93% .034 272.788);
  --color-secondary-content: oklch(45% .24 277.023);

  --color-success: rgb(198, 234, 132);
  --color-success-content: oklch(37% .077 168.94);

  --color-error: rgb(213, 69, 108);
  --color-error-content: oklch(27% .105 12.094);

  --color-active: var(--color-emerald-500);

  /* --color-purple: rgb(144, 103, 145);
  --color-purple-dark: rgb(87, 74, 98);
  --color-navy: rgb(35, 97, 106);
  --color-navy-dark: rgb(25, 68, 74); */
}

@utility tooltip {
  @apply z-50;
}
