@import "tailwindcss";
@plugin "daisyui" {
  root: ":root";
  include: ;
  exclude: rootscrollgutter, rootcolor;
  logs: true;
  themes: false;
}

@theme {
  --font-sans: Inter, sans-serif;
  --font-nunito: Nunito, sans-serif;

  --color-accent: var(--color-pink-500);
  --color-green: rgb(198, 234, 132);
  --color-orange: rgb(255, 198, 121);

  --color-blue-neon: rgb(171, 253, 215);
  --color-green-neon: rgb(198, 234, 132);
  --color-orange-neon: rgb(255, 198, 121);
  --color-red-neon: rgb(255, 167, 160);
  --color-purple-neon: rgb(241, 199, 255);

  --color-dark: oklch(25.33% .016 252.42);

  --color-purple: oklch(90% .063 306.703);
  --color-teal: oklch(90% .093 164.15);
  --color-blue: oklch(86% .127 207.078);
  --color-pink: oklch(65% .241 354.308);
  --color-pink-content: oklch(94% .028 342.258);

  --color-navy: oklch(77.464% .062 217.469);
  --color-navy-content: oklch(100% 0 0);

  --radius-field: 0.5rem;
  --radius-selector: 1rem;
  --radius-box: 1rem;
  --size-selector: .25rem;
  --size-field: .25rem;

  --color-base-100: oklch(97% .014 343.198);
  --color-base-200: oklch(94% .028 342.258);
  --color-base-300: oklch(89% .061 343.231);
  --color-base-content: oklch(52% .223 3.958);

  --color-primary: oklch(89% .061 343.231);
  --color-primary-content: oklch(45% .187 3.815);

  --color-info: oklch(45% .24 277.023);
  --color-info-content: oklch(93% .034 272.788);

  --color-neutral: oklch(14% .005 285.823);
  --color-neutral-content: oklch(92% .004 286.32);

  --color-beige-100: oklch(97.788% .004 56.375);
  --color-beige-200: oklch(93.982% .007 61.449);
  --color-beige-300: oklch(91.586% .006 53.44);

  --color-secondary-100: oklch(98.71% .02 123.72);
  --color-secondary-200: oklch(91.8% .018 123.72);
  --color-secondary-300: oklch(84.89% .017 123.72);
  --color-secondary-content: oklch(19.742% .004 123.72);

  --color-success: rgb(198, 234, 132);
  --color-success-content: oklch(37% .077 168.94);

  --color-error: rgb(213, 69, 108);
  --color-error-content: oklch(27% .105 12.094);

  --color-active: var(--color-emerald-500);
}

@utility tooltip {
  @apply z-50;
}
