@import "tailwindcss";
@plugin "daisyui" {
  root: ":root";
  include: ;
  exclude: ;
  logs: true;
  themes: false;
}

@theme {
  --font-sans: Inter, sans-serif;
  --color-accent: var(--color-pink-500);
  --color-cyan: rgb(0, 175, 198);
  --color-false: rgb(213, 69, 108);
  --color-dark: #113034;
  --color-purple: rgb(144, 103, 145);
  --color-purple-dark: rgb(87, 74, 98);
  --color-navy: rgb(35, 97, 106);
  --color-navy-dark: rgb(25, 68, 74);

  --text-neutral: rgb(129, 97, 63);
  --bg-neutral-dark: rgb(91, 68, 43);
  --bg-neutral: rgb(251, 244, 239);
}
